.background {
    position: absolute;
    height: 105%;
    width: 114.29%;
    top: 0;
    right: -14.29%;
    bottom: -5%;
    left: 0;
    background-color: var(--colors-white);
  }
  .we-made-it,
  .you-have-the {
    position: absolute;
    left: 0;
    display: inline-block;
  }
  .we-made-it {
    width: 89.38%;
    top: 73.67%;
    line-height: 28px;
    font-weight: 500;
    opacity: 0.7;
    mix-blend-mode: normal;
  }
  .you-have-the {
    width: 100%;
    top: 0;
    font-size: var(--heading-h2-header-size);
    letter-spacing: -1px;
    line-height: 70px;
    color: var(--colors-heading);
  }
  .rectangle2,
  .text1 {
    position: absolute;
    height: 39.88%;
    width: 33.64%;
    top: 27.75%;
    right: 51.07%;
    bottom: 32.38%;
    left: 15.29%;
  }
  .rectangle2 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-81xl);
    border: 2px solid var(--colors-grey);
    box-sizing: border-box;
  }
  .sign-up2 {
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 39px);
    line-height: 26px;
    font-weight: 500;
  }
  .middle-dark-outline {
    position: absolute;
    height: 100%;
    width: 12.15%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 87.85%;
    text-align: center;
  }
  .blog,
  .features,
  .home,
  .pricing1 {
    position: absolute;
    top: 17.5%;
    left: 76.73%;
    line-height: 26px;
    font-weight: 500;
  }
  .features,
  .home,
  .pricing1 {
    left: 63.44%;
  }
  .features,
  .home {
    left: 51.29%;
  }
  .home {
    left: 38.62%;
    opacity: 0.3;
  }
  .startup-31 {
    position: absolute;
    top: -6px;
    left: 2px;
    letter-spacing: -0.29px;
  }
  .black {
    position: absolute;
    height: 47.5%;
    width: 11.43%;
    top: 27.5%;
    right: 88.57%;
    bottom: 25%;
    left: 0;
    text-align: center;
    font-size: var(--font-size-5xl);
  }
  .header-menu1 {
    position: absolute;
    height: 5%;
    width: 69.36%;
    top: 9.75%;
    right: 15.36%;
    bottom: 85.25%;
    left: 15.29%;
    color: var(--colors-heading);
  }
  .oval-151-icon,
  .rectangle-icon {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .rectangle-icon {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50px;
    object-fit: cover;
  }
  .oval-151-icon {
    height: 41.15%;
    width: 41.15%;
    top: 29.42%;
    right: 29.42%;
    bottom: 29.43%;
    left: 29.42%;
  }
  .image,
  .rectangle3 {
    position: absolute;
    height: 46.25%;
    width: 26.43%;
    top: 30.25%;
    right: 15.36%;
    bottom: 23.5%;
    left: 58.21%;
  }
  .rectangle3 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-81xl);
    background-color: var(--action-secondary);
  }
  .sign-up3 {
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 70px);
    line-height: 26px;
    font-weight: 500;
  }
  .big-fill1 {
    position: absolute;
    top: 593px;
    left: 214px;
    width: 206px;
    height: 60px;
    text-align: center;
    font-size: var(--buttons-big-size);
    color: var(--colors-white);
  }
  .header-9 {
    position: relative;
    background-color: var(--colors-white);
    width: 100%;
    height: 800px;
    overflow: hidden;
    text-align: left;
    font-size: var(--text-article-size);
    color: var(--colors-text);
    font-family: var(--buttons-small);
  }
  